*{
    justify-content: center;
    text-align: center;
}

.selector-for-some-widget {
    box-sizing: content-box;
  }

body{
    display: flex;
    flex-direction: column;
}

  .search-bar {
    margin: 10px;
    max-width: fit-content;
  }

  .list-group{
    max-width: 286px;
    margin: 10px;
  }

  #weather-stats{
    margin: 50px;
    width: max-content;
    display: block;
  }

  #columns{
    margin: 50px;
  }